.milshake-main{
    background-color:rgba(244, 242, 242, 0.931);
    width: 360px;
    height: 380px;
}
.milshake-main h2 {
    margin: 100px 20px -20px -200px;
  color: black;
  font-size: 16.5px;
  line-height: 21px;
}
